.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  margin-bottom: 50px;
}
.flavanoid-statistics-container,
.gamma-statistics-container {
  display: flex;
  justify-content: center;
}
.flavanoid-statistics-container {
  margin-bottom: 100px;
}
.statistics-table {
  border-collapse: collapse;
  background: aliceblue;
}

.statistics-table th, .statistics-table td {
  border: 1px solid #000; /* Add borders to table cells */
  padding: 8px;
  text-align: center;
}
td:first-child {
  font-weight: bold;
}
